<div align="center">
  <table cellspacing="0" cellpadding="0" width="760" border="0">
    <tbody>
      <tr>
        <td height="5"></td>
      </tr>
    </tbody>
  </table>
  <table cellspacing="0" cellpadding="0" width="760" border="0">
    <tbody>
      <tr>
        <td valign="top" width="192" bgcolor="#FFCCcc">　</td>
        <td valign="top" width="2" bgcolor="#ffffff">　</td>
        <td valign="top" width="560"><table cellspacing="0" cellpadding="0" width="100%" border="0">
          <tbody>
            <tr>
              <td width="100%"><table class="border" cellspacing="0" cellpadding="0" width="100%" 
            align="center">
                <tbody>
                  <tr class="bg_l">
                    <td height="25" align="right" bgcolor="#FFCCCC"><p align="left">&nbsp;您所在的位置:&nbsp;<a href="index.php">首页</a> &gt;&nbsp;做家政</p></td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
          </tbody>
        </table>
            <table cellspacing="0" cellpadding="0" width="100%" align="center">
              <tbody>
                <tr>
                  <td align="right" height="3"></td>
                </tr>
              </tbody>
            </table>
          <table cellspacing="0" cellpadding="0" width="100%" border="0">
              <tbody>
                <tr>
                  <td height="182" valign="top"><table height="181" cellspacing="0" cellpadding="0" width="148" align="center" 
            bgcolor="#FFCCFF" border="0">
                      <tbody>
                        <tr>
                          <td><table style="BORDER-COLLAPSE: collapse" bordercolor="#ccccc0" 
                  height="162" cellspacing="0" cellpadding="0" width="122" align="center" 
                  bgcolor="#ffffff" border="1">
                              <tbody>
                                <tr>
                                  <td align="center" valign="middle"><img src="{photo}" height="{height}" width="{width}" /></td>
                                </tr>
                              </tbody>
                          </table></td>
                        </tr>
                      </tbody>
                  </table>
                  </td>
                  <td width="1"></td>
                  <td valign="top" width="428"><table class="border" cellspacing="0" cellpadding="0" width="100%" 
            align="center">
                      <tbody>
                        <tr class="bg_l">
                          <td height="24" align="left" bgcolor="#FFCCFF">&nbsp;<strong> </strong>&nbsp;&nbsp;</td>
                        </tr>
                      </tbody>
                  </table>
                      <table cellspacing="0" cellpadding="0" width="98%" align="center">
                        <tbody>
                          <tr>
                            <td align="right" height="3"></td>
                          </tr>
                        </tbody>
                      </table>
                    <table width="100%" border="0" 
            align="center" cellpadding="0" cellspacing="1" bordercolor="0" class="border">
                        <tbody>
                          <tr class="bg_l">
                            <td align="left" width="66" height="24">&nbsp;编号:</td>
                            <td align="left" width="267">{id}</td>
                          </tr>
                          <tr class="bg_l">
                            <td align="left" width="66" height="24">&nbsp;性别:</td>
                            <td align="left">{sex}</td>
                          </tr>
                          <tr class="bg_l">
                            <td align="left" width="66" height="24">&nbsp;年龄:</td>
                            <td align="left">{age}</td>
                          </tr>
                          <tr class="bg_l">
                            <td width="66" height="24" align="left">&nbsp;属相</td>
                            <td align="left">{horoscopes}</td>
                          </tr>
                          <tr class="bg_l">
                            <td align="left" height="24">&nbsp;籍贯</td>
                            <td align="left">{hometown}</td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left">&nbsp;民族</td>
                            <td align="left">{nation}</td>
                          </tr>
                        </tbody>
                    </table></td>
                </tr>
              </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" width="98%" align="center">
          </table>
          <table class="border" cellspacing="1" cellpadding="0" width="100%" align="center" 
      border="0">
          </table>
          <table width="100%" 
      border="0" align="center" cellpadding="0" cellspacing="1" class="border">
              <tbody>
                
                <tr class="bg_l">
                  <td align="left" height="24">&nbsp;学历</td>
                  <td width="199" height="24" align="left">{degree}</td>
                  <td width="78" align="left">&nbsp;薪水范围:</td>
                  <td width="199" align="left">{salary}</td>
                </tr>
                <tr class="bg_l">
                  <td align="left" width="77" height="24">&nbsp;服务类型:　</td>
                  <td height="24" colspan="3" align="left">{service}</td>
                </tr>
                <tr class="bg_l">
                  <td align="left" width="77" height="24">&nbsp;家政经验:</td>
                  <td height="24" colspan="3" align="left" valign="middle">{experience}</td>
                </tr>
                <tr class="bg_l">
                  <td colspan="4" align="left">　
                    <table cellspacing="0" cellpadding="0" width="99%" align="center">
                      <tbody>
                        <tr>
                          <td width="15"><img src="template/jzweb/images/2.gif" width="16" height="16" /></td>
                          <td width="179" height="20" valign="bottom"><font color="#ff0000">请状态:{hired}</font></td>
                          <td width="16"><img src="template/jzweb/images/4.gif" width="16" height="16" /></td>
                          <td width="148" valign="bottom"><font color="#ff0000">排状态: {occupied} </font></td>
                          <td width="16" align="center"><img src="template/jzweb/images/9.gif" width="16" height="16" /></td>
                          <td width="170" align="center" valign="bottom"><p align="left"><font 
              color="#ff0000">新时间:{mod_time}</font></p></td>
                        </tr>
                        <tr>
                          <td height="35" colspan="6" valign="bottom"><label>
                              <div align="right">
							  <form action="reserve.php" method="post">
                                <input type="submit" name="Submit" value="预约" />
								<input name="type" type="hidden" value="employee">
								<input name="id" type="hidden" value="{id}">
							  </form>
                              </div>
                            </label></td>
                        </tr>
                      </tbody>
                    </table></td>
                </tr>
              </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" width="98%" align="center">
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
