<div align="center">
  <table cellspacing="0" cellpadding="0" width="760" border="0">
    <tbody>
      <tr>
        <td valign="top" width="198" bgcolor="#FFCCCC">　</td>
        <td valign="top" width="2">　</td>
        <td valign="top" width="560"><table cellspacing="0" cellpadding="0" width="100%" border="0">
          <tbody>
            <tr>
              <td width="100%"><table class="border" cellspacing="0" cellpadding="0" width="100%" 
            align="center">
                <tbody>
                  <tr class="bg_l">
                    <td height="25" align="right" bgcolor="#FFCCCC"><p align="left">&nbsp;您所在的位置:<a href="index.php">首页</a>&nbsp;&gt;请家政</p></td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
          </tbody>
        </table>
            <table cellspacing="0" cellpadding="0" width="100%" align="center">
              <tbody>
                <tr>
                  <td align="right" height="3"></td>
                </tr>
              </tbody>
            </table>
          <table cellspacing="0" cellpadding="0" width="100%" border="0">
              <tbody>
                <tr>
                  <td width="1"></td>
                  <td width="100%" valign="top"><table class="border" cellspacing="0" cellpadding="0" width="100%" 
            align="center">
                      <tbody>
                        <tr class="bg_l">
                          <td height="24" align="left" bgcolor="#FFCCFF">&nbsp;</td>
                        </tr>
                      </tbody>
                  </table>
                      <table cellspacing="0" cellpadding="0" width="98%" align="center">
                        <tbody>
                          <tr>
                            <td align="right" height="3"></td>
                          </tr>
                        </tbody>
                      </table>
                    <table width="100%" border="1" 
            align="center" cellpadding="0" cellspacing="1" bordercolor="#FFCCCC" bgcolor="#FFFFFF" class="border">
                        <tbody>
                          <tr class="bg_l">
                            <td width="73" height="24" align="left" nowrap>&nbsp;编号：</td>
                            <td width="461" align="left">&nbsp;{id}</td>
                          </tr>
                          <tr class="bg_l">
                            <td width="73" height="24" align="left" nowrap>&nbsp;服务类型:</td>
                            <td align="left">&nbsp;{service}</td>
                          </tr>
                          <tr class="bg_l">
                            <td width="73" height="24" align="left" nowrap>&nbsp;性别要求:</td>
                            <td align="left">&nbsp;{ideal_sex}</td>
                          </tr>
                          <tr class="bg_l">
                            <td width="73" height="24" align="left" nowrap>&nbsp;年龄要求:</td>
                            <td align="left">&nbsp;{ideal_age}</td>
                          </tr>
                          <tr class="bg_l">
                            <td width="73" height="24" align="left" nowrap>&nbsp;文凭要求:</td>
                            <td align="left">&nbsp;{ideal_degree}</td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap>&nbsp;报酬要求:</td>
                            <td align="left">&nbsp;{salary}</td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap>&nbsp;是否住家:</td>
                            <td align="left">&nbsp;{home}</td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap>&nbsp;家政时间:</td>
                            <td align="left">&nbsp;{worktime}</td>
                          </tr>
                          <tr class="bg_l">
                            <td align="left" nowrap>&nbsp;其他要求:</td>
                            <td height="57" 
                  align="left" valign="middle">&nbsp;{requirement}<br>　                            </td>
                          </tr>
                        </tbody>
                  </table></td>
                </tr>
              </tbody>
          </table>
          <table cellspacing="0" cellpadding="0" width="98%" align="center">
              <tbody>
                <tr>
                  <td align="right" height="3"></td>
                </tr>
              </tbody>
          </table>
          <table class="border" cellspacing="1" cellpadding="0" width="100%" align="center" 
      border="0">
              <tbody>
                <tr class="bg_l">
                  <td align="left" height="57"><form id="form" name="form" method="post" action="reserve.php">
                    <table cellspacing="0" cellpadding="0" width="99%" align="center">
                      <tbody>
                        <tr>
                          <td width="15"><img src="template/jzweb/images/3.gif" /></td>
                          <td width="179" height="20" valign="bottom"><font color="#ff0000">核状态:通过审核</font></td>
                          <td width="16"><img src="template/jzweb/images/4.gif" width="16" height="16" /></td>
                          <td width="148" valign="bottom"><font color="#ff0000">排状态: {occupied} </font></td>
                          <td width="16" align="center"><img src="template/jzweb/images/9.gif" width="16" height="16" /></td>
                          <td width="170" align="center" valign="bottom"><p align="left"><font 
              color="#ff0000">新时间:{mod_time}</font></p></td>
                        </tr>
                        <tr>
                          <td height="35" colspan="6" valign="bottom"><label>
                            <div align="right">
                              <input type="submit" name="Submit" value="预约" />
                              <input name="type" type="hidden" value="employer" />
                              <input name="id" type="hidden" value="{id}" />
</div>
                          </label></td>
                        </tr>
                      </tbody>
                    </table>
                                    </form>
                  </td>
                </tr>
              </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
