<div align="center">
  <table cellspacing="0" cellpadding="0" width="760" border="0">
    <tbody>
      <tr>
        <td valign="top" width="198" bgcolor="#FFCCCC">　</td>
        <td valign="top" width="2">　</td>
        <td valign="top" width="560"><table cellspacing="0" cellpadding="0" width="100%" border="0">
          <tbody>
            <tr>
              <td width="100%"><table class="border" cellspacing="0" cellpadding="0" width="100%" 
            align="center">
                <tbody>
                  <tr class="bg_l">
                    <td height="25" align="right" bgcolor="#FFCCCC"><p align="left">&nbsp;您所在的位置:<a href="index.php">首页</a>&nbsp;&gt;请家政</p></td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
          </tbody>
        </table>
            <table cellspacing="0" cellpadding="0" width="100%" align="center">
              <tbody>
                <tr>
                  <td align="right" height="3"></td>
                </tr>
              </tbody>
            </table>
          <table cellspacing="0" cellpadding="0" width="100%" border="0">
              <tbody>
                <tr>
                  <td width="1"></td>
                  <td width="100%" valign="top"><table class="border" cellspacing="0" cellpadding="0" width="100%" 
            align="center">
                      <tbody>
                        <tr class="bg_l">
                          <td height="24" align="left" bgcolor="#FFCCFF">&nbsp;</td>
                        </tr>
                      </tbody>
                  </table>
                      <table cellspacing="0" cellpadding="0" width="98%" align="center">
                        <tbody>
                          <tr>
                            <td align="right" height="3"></td>
                          </tr>
                        </tbody>
                      </table>
					  <form id="form" name="form" method="post" action="reserve.php">
                    <table width="100%" border="1" 
            align="center" cellpadding="0" cellspacing="1" bordercolor="#FFCCCC" bgcolor="#FFFFFF" class="border">
                        <tbody>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap="NOWRAP">&nbsp;被预约编号：</td>
                            <td width="448" align="left"><input type="text" name="did" value="{did}" readonly="readonly"></td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap="NOWRAP">&nbsp;发出预约者编号:</td>
                            <td align="left"><input type="text" name="sid" value="{sid}" readonly="readonly"></td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap="nowrap">&nbsp;服务项目:</td>
                            <td align="left"><input type="text" name="service" value="{service}" readonly="readonly"></td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap="NOWRAP">&nbsp;发出预约者电话:</td>
                            <td align="left"><input type="text" name="telephone" value="{telephone}" readonly="readonly"></td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap="NOWRAP">&nbsp;发出预约者手机:</td>
                            <td align="left"><input type="text" name="mobile" value="{mobile}" readonly="readonly"></td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap="nowrap">&nbsp;发出预约者邮件:</td>
                            <td align="left"><input type="text" name="did" value="{did}" readonly="readonly"></td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap="nowrap">&nbsp;发出预约者地区:</td>
                            <td align="left"><input type="text" name="area" value="{area}" readonly="readonly"></td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap="nowrap">&nbsp;MSN/QQ:</td>
                            <td align="left"><input type="text" name="qq" value="{qq}" readonly="readonly"></td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap="nowrap">&nbsp;详细地址:</td>
                            <td 
                  align="left"><input type="text" name="did" value="{did}" readonly="readonly"></td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" align="left" nowrap="nowrap">&nbsp;特别说明：</td>
                            <td 
                  align="left"><textarea name="snote" cols="50" rows="5"></textarea></td>
                          </tr>
                          <tr class="bg_l">
                            <td height="24" colspan="2" align="left">
                              <table cellspacing="0" cellpadding="0" width="99%" align="center">
                                <tbody>
                                  <tr>
                                    <td width="544" height="35" valign="bottom"><label> </label>
                                      <div align="center">
                                          <input type="submit" name="Submit" value="预约" />
                                          <input type="hidden" name="step" value="2">
                                          <input type="hidden" name="areaid" value="{areaid}">
                                          <input type="hidden" name="service_all" value="{service_all}">
</div></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                  </table>
				  </form>
				  </td>
                </tr>
              </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
