<head><link href="styles/user.css" rel="stylesheet" type="text/css"></head>
<body>
<table width="820" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10" valign="top" background="../image/bg3.gif">&nbsp;</td>
    <td width="800" valign="top">      <table width="100%" border="0" cellpadding="0" cellspacing="0">
      </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="100%" align="left" valign="top"><!-- InstanceBeginEditable name="主体" -->
                      							<table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><table width="100%"  border="0" cellpadding="10" cellspacing="1" bgcolor="#CCCCCC">
                            <tr>
                              <td valign="top" bgcolor="#FFFFFF">
							  				
							  
							  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><TABLE width="100%" border="0" align="center" cellPadding="0" cellSpacing="0">
                                      <TBODY>
                                        <TR>
                                          <TD>
                                            
                                              <TABLE cellSpacing="0" cellPadding="0" width="100%" border="0">
                                                <TBODY>
                                                  <TR>
                                                    <TD valign="top" bgColor="#dddddd"><TABLE cellSpacing="0" cellPadding="0" width="100%" align="center"  bgColor="#cccccc" border="0">
                                                      <TBODY>
                                                        <TR bgColor="#DEEBFF">
                                                          <TD height=15 colSpan="5"><span>&gt;&gt;账号信息部分 </span></TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <td width="21%"  align="right" nowrap bgcolor="#FFFFFF">用户名：</td>
                                                          <td colspan="2"  align="center" nowrap bgcolor="#FFFFFF">{username}</td>
                                                          <td width="13%"  align="right" nowrap>电子邮件：</td>
                                                          <td width="31%"  align="left" nowrap>{email}</td>
                                                        </TR>
                                                        <TR align="left" bgColor="#DEEBFF">
                                                          <td colspan="5" nowrap>&gt;&gt; 用户基本资料 </td>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <td  align="right" nowrap bgcolor="#FFFFFF">姓名：</td>
                                                          <td colspan="2"  align="center" nowrap bgcolor="#FFFFFF">{name} </td>
                                                          <TD align="right" nowrap>所在城区： </TD>
                                                          <TD align="left" nowrap>{area}</TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD align="right" nowrap bgcolor="#FFFFFF">最近登录时间：</TD>
                                                          <TD colspan="2" align=center nowrap bgcolor="#FFFFFF"><span>{last_time}</span></TD>
                                                          <TD align="right" nowrap>上次登录IP：</TD>
                                                          <TD align="left" nowrap>{last_ip}</TD>
                                                        </TR>
                                                        <TR bgColor="#DEEBFF">
                                                          <TD colSpan="5" valign="center">&gt;&gt; 用户详细资料信息</TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align=right>&nbsp;通信地址：</TD>
                                                          <TD colspan="3" align="left">{address}</TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align=right>固定电话：</TD>
                                                          <TD colspan="3" align="left">{telephone}</TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align=right>移动电话：</TD>
                                                          <TD colspan="3" align="left">{mobile}</TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align=right>QQ：</TD>
                                                          <TD colspan="3" align="left">{qq}</TD>
                                                        </TR>
                                                        <TR align="left" bgColor="#DEEBFF">
                                                          <TD colspan="5">&gt;&gt;用户服务需求信息</TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align="right">&nbsp;服务项目：</TD>
                                                          <TD colspan="3" align="left" bgcolor="#FFFFFF"><span>{service}</span> </TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align="right"><span>工作时间：</span></TD>
                                                          <TD colspan="3" align="left">{worktime}</TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align="right">是否住家：</TD>
														  <td colspan="3" align="left">{home}</td>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align="right">可支付费用：</TD>
                                                          <TD colspan="3" align="left"><span>{salary}</span></TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align="right"><span>被查看次数：</span></TD>
                                                          <TD colspan="3" align="left" nowrap><span>{visited_times}</span></TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align="right">资料审查状态：</TD>
                                                          <TD width="25%" align="left" nowrap><span>{checked}</span></TD>
                                                          <TD align="right" nowrap>置顶状况：</TD>
                                                          <TD align="left" nowrap>{top}</TD>
                                                        </TR>
                                                        <TR bgColor="#DEEBFF">
                                                          <TD colSpan="5" align="right">
                                                            <DIV align="left">&gt;&gt; 理想中的老师</DIV></TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align="right">性别：</TD>
                                                          <TD align="left">{ideal_sex}</TD>
                                                          <TD align="right">年龄：</TD>
                                                          <TD align="left">{ideal_age}</TD>
                                                        </TR>
                                                        <TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align="right">学历： </TD>
                                                          <TD colspan="3" align="left">{ideal_degree}
                                                          <div align="right"></div></TD>
                                                        </TR><TR bgColor="#FFFFFF">
                                                          <TD colspan="2" align="right">说明：</TD>
                                                          <TD colspan="3" align="left">{requirement}                                                            <div align="right"></div></TD>
                                                        </TR>

                                                          <TR>
                                                            <TD height="20" bgColor="#DEEBFF" colspan="5"><span>&gt;&gt;历史记录</span></TD>
                                                          </TR>
                                                          <TR >
                                                            <TD align="middle" bgColor="#FFFFFF" colspan="5"> <span>
                                                              </span>
                                                                <TABLE cellSpacing="0" cellPadding="0" width="95%" align="center" border="0">
                                                                  <TBODY>
                                                                    <TR>
                                                                      <TD width="14%"><div align="center">雇主</div></TD>
                                                                      <TD width="14%"><div align="center">雇员</div></TD>
                                                                      <TD width="12%"><div align="center">中介费</div></TD>
                                                                      <TD width="12%"><div align="center">工资</div></TD>
                                                                      <TD width="20%"><div align="center">备注</div></TD>
                                                                      <TD width="14%"><div align="center">开始时间</div></TD>
                                                                      <TD width="14%"><div align="center">结束时间</div></TD>
                                                                    </TR>
																	<!-- BEGIN CONTRACT_LIST -->
                                                                    <TR>
                                                                      <TD width="14%"><div align="center">{employer}</div></TD>
                                                                      <TD width="14%"><div align="center">{employee}</div></TD>
                                                                      <TD width="12%"><div align="center">{agent}</div></TD>
                                                                      <TD width="12%"><div align="center">{salary}</div></TD>
                                                                      <TD width="20%"><div align="center">{note}</div></TD>
                                                                      <TD width="14%"><div align="center">{start_time}</div></TD>
                                                                      <TD width="14%"><div align="center">{end_time}</div></TD>
                                                                    </TR>
																	<!-- END CONTRACT_LIST -->
                                                                  </TBODY>
                                                              </TABLE></TD>
                                                          </TR>
														
                                                      </TBODY>
                                                    </TABLE></TD>
                                                  </TR>
                                                </TBODY>
                                              </TABLE>
                                          </TD>
                                        </TR>
                                      </TBODY>
                                    </TABLE></td>
                                </tr>
                              </table>
							  						  </td>
                            </tr>
                          </table></td>
                          <td width="200" valign="top">
						  <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#DEEBFF">
                            <tr>
                              <td></td>
                            </tr>
                          </table>                         
                          <table width="100%"  border="0" cellpadding="10" cellspacing="0" bgcolor="#CCCCCC">
                            <tr>
                              <td bgcolor="#FFFFFF"><form name="form2" method="post" action="admin.php?j=User&a=docheckemployer">
                                  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td colspan="2">资料审查
                                          <div align="center"></div>
                                          <div align="center"></div></td>
                                    </tr>
                                    <tr>
                                      <td><div align="center">通过
                                              <input name="pass" type="radio" value="1" checked>
                                              <input type="hidden" name="id" value="{id}" />
                                      </div></td>
                                      <td><div align="center">拒绝
                                              <input type="radio" name="pass" value="0">
                                      </div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2">选择不通过的原因</td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><div align="center">
                                          <select name="reject_reason" id="reject_reason">
                                            <option value="联系电话无效" selected>联系电话无效</option>
                                            <option value="格式不规范">格式不规范</option>
                                          </select>
                                      </div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2">
                                        <div align="center">
                                          <input type="submit" name="Submit" value="提交">
                                        </div></td>
                                    </tr>
                                  </table>
                              </form></td>
                            </tr>
                          </table>
						  <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#DEEBFF">
                            <tr>
                              <td></td>
                            </tr>
                          </table>                         
                          <table width="100%"  border="0" cellpadding="10" cellspacing="0" bgcolor="#CCCCCC">
                            <tr>
                              <td bgcolor="#FFFFFF"><form name="form2" method="post" action="admin.php?j=User&a=dotopemployer">
                                  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td colspan="2">置顶
                                          <div align="center"></div>
                                          <div align="center"></div></td>
                                    </tr>
                                    <tr>
                                      <td><div align="center">置顶
                                              <input name="pass" type="radio" value="1" checked>
                                              <input type="hidden" name="id" value="{id}" />
                                      </div></td>
                                      <td><div align="center">不置顶
                                              <input type="radio" name="pass" value="0">
                                      </div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2">
                                        <div align="center">
                                          <input type="submit" name="Submit" value="提交">
                                        </div></td>
                                    </tr>
                                  </table>
                              </form></td>
                            </tr>
                          </table>
						  <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#DEEBFF">
                            <tr>
                              <td></td>
                            </tr>
                          </table>
						  </td>
                        </tr>
                      </table>	
                      <!-- InstanceEndEditable --></td>
        </tr>
      </table>
      <table width="100%" height="5"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td></td>
        </tr>
      </table>
      <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr>
          <td></td>
        </tr>
      </table>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr colspan="2" bgcolor="#DEEBFF">添加备注</tr>
	  <form method="POST" action="admin.php?j=User&a=donoteemployer">
	  <tr><td width="80%">
	    <input type="hidden" name="id" value={id}>
		<textarea name="note" rows="10" cols="100">{note}</textarea>
	  </td>
	  <td align="center"><input type="submit" value="提交" /></td>
	  </tr>
	  </form>
	  </table>
      <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr>
          <td></td>
        </tr>
      </table>
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><!-- InstanceBeginEditable name="脚部" -->
                      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td></td>
                        </tr>
                      </table>
                    <!-- InstanceEndEditable --></td>
        </tr>
      </table></td>
    <td width="10" valign="top" background="../image/bg4.gif">&nbsp;</td>
  </tr>
</table>
</body>
