<head><link href="styles/user.css" rel="stylesheet" type="text/css" /></head>
<body>
<table width="820" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10" valign="top" background="../image/bg3.gif">&nbsp;</td>
    <td width="800" valign="top">      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="100%" align="left" valign="top">
                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td></td>
                  </tr>
                </table>
               </td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="100%" align="left" valign="top">
                      					  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="600" valign="top"><table width="100%"  border="0" cellpadding="10" cellspacing="1" bgcolor="#CCCCCC">
                            <tr>
                              <td valign="top" bgcolor="#FFFFFF">
							  				
							  
							  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><TABLE width="100%" 
              border="0" align="center" cellPadding="0" cellSpacing="0">
                                      <TBODY>
                                        <TR>
                                          <TD>
                                            
                                              <TABLE cellSpacing="0" cellPadding="0" width="100%" border="0">
                                                <TBODY>
                                                  <TR>
                                                    <TD valign="top" bgColor="#dddddd">
                                                      <TABLE width="100%" 
border="0" cellPadding="0" cellSpacing="0" bgcolor="#DEDFDE">
                                                        <TBODY>
                                                          <TR>
                                                            <TD 
                              height="20" bgColor="#DEEBFF"> &gt;&gt;账号信息部分</TD>
                                                          </TR>
                                                          <TR>
                                                            <TD 
                              height="20" bgColor="#FFFFFF"><TABLE 
                              width="95%"   border="0" align="center" cellPadding="0" cellSpacing="0">
                                                              <TBODY>
                                                                <TR>
                                                                  <TD width="20%">
                                                                  <div align="right">用户名：</div></TD>
                                                                  <td   align="center" nowrap><span>{username}</span></td>
                                                                  <td   align="right" nowrap><div align="center"></div>
                                                                  电子邮件：</td>
                                                                  <td   align="center" nowrap><span>{email}</span></td>
                                                                </TR>
                                                              </TBODY>
                                                            </TABLE></TD>
                                                          </TR>
                                                          <TR>
                                                            <TD width="100%" 
                              height="20" bgColor="#DEEBFF">&gt;&gt;基本信息&nbsp;</TD>
                                                          </TR>
                                                          <TR>
                                                            <TD align="middle" bgColor="#FFFFFF"><TABLE 
                              width="95%" height="147" border="0" align="center" cellPadding="0" cellSpacing="0">
                                                              <TBODY>
                                                                <TR>
                                                                  <TD width="20%"  >
                                                                    <div align="right">真实姓名：</div></TD>
                                                                  <td   align="center" nowrap><span>{name}</span></td>
                                                                  <td   align="right" nowrap>性别：</td>
                                                                  <td   align="center" nowrap><span>{sex}</span></td>
                                                                </TR>
                                                                <TR>
                                                                  <TD width="20%"  >
                                                                    <div align="right">年龄：</div></TD>
                                                                  <TD   align="center"><span>{age}</span></TD>
                                                                  <TD align="right">所在地区：</TD>
                                                                  <TD align="center"><span>{area}</span></TD>
                                                                </TR>
                                                                <TR>
                                                                  <TD width="20%"  >
                                                                    <div align="right">民族：</div></TD>
                                                                  <TD   align="center"><span>{nation}</span></TD>
                                                                  <TD   align="right">学历：</TD>
                                                                  <TD   align="center"><span>{degree}</span></TD>
                                                                </TR>
                                                                <TR>
                                                                  <TD  ><div align="right">被查看次数：</div></TD>
                                                                  <TD   align="center"><span>{visited_times}次</span></TD>
                                                                  <TD   align="right"><span>最近登录时间：</span></TD>
                                                                  <TD   align="center"><span>{last_time}</span></TD>
                                                                </TR>
                                                                 <TR>
                                                                  <TD  ><div align="right">上次登录IP：</div></TD>
                                                                  <TD   align="center"><span>{last_ip}</span></TD>
                                                                  <!-- IF SUPER -->
																  <TD   align="right"><span>身份证号码：</span></TD>
                                                                  <TD   align="center"><span>{identifyid}</span></TD>
																  <!-- ELSE -->
																  <TD   align="right"><span>&nbsp;</span></TD>
                                                                  <TD   align="center"><span>&nbsp;</span></TD>
																  <!-- ENDIF -->
                                                                </TR>
                                                             </TBODY>
                                                            </TABLE></TD>
                                                          </TR>
                                                          <TR>
                                                            <TD height="20" bgColor="#DEEBFF"><span>&gt;&gt;用户详细资料</span></TD>
                                                          </TR>
                                                          <TR>
                                                            <TD height="20" bgColor="#FFFFFF">
                                                              <TABLE cellSpacing="0" cellPadding="0" width="95%" 
                              align="center" border="0">
                                                                <TBODY>
                                                                  <TR bgColor="#ffffff">
                                                                    <TD width="20%" align="right" bgcolor="#ffffff">
                                                                      <div align="right">详细住址：</div></TD>
                                                                    <TD align="left">{address}</TD>
                                                                  </TR>
                                                                  <TR bgColor="#ffffff">
                                                                    <TD width="20%" align=right bgcolor="#ffffff">
                                                                      <div align="right">固定电话：</div></TD>
                                                                    <TD align="left">{telephone}</TD>
                                                                  </TR>
                                                                  <TR bgColor="#ffffff">
                                                                    <TD align="right" bgcolor="#ffffff">移动电话：</TD>
                                                                    <TD align="left">{mobile}</TD>
                                                                  </TR>
                                                                  <TR bgColor="#ffffff">
                                                                    <TD align="right" bgcolor="#ffffff">QQ：</TD>
                                                                    <TD align="left">{qq}</TD>
                                                                  </TR>
                                                                  <TR>
                                                                    <TD height="18"><div align="right">服务项目：</div></TD>
                                                                    <TD align="left"><span>{service}</span> </TD>
                                                                  </TR>
                                                                  <TR>
                                                                    <TD height="28"><div align="right">期望时薪：</div></TD>
                                                                    <TD align="left"><span>{salary}</span></TD>
                                                                  </TR>
                                                                  <TR>
                                                                    <TD height="18"><div align="right">家政经验：</div></TD>
                                                                    <TD align="left"><span>{experience}</span> </TD>
                                                                  </TR>
                                                                  <TR>
                                                                    <TD height="18"><div align="right">语言：</div></TD>
                                                                    <TD align="left"><span>{language}</span> </TD>
                                                                  </TR>
                                                                  <TR>
                                                                    <TD height="18"><div align="right">婚姻状况：</div></TD>
                                                                    <TD align="left"><span>{marriage}</span> </TD>
                                                                  </TR>
                                                                </TBODY>
                                                            </TABLE></TD>
                                                          </TR>
                                                          <TR>
                                                            <TD height="20" bgColor="#DEEBFF"><span>&gt;&gt;其他信息</span></TD>
                                                          </TR>
                                                          <TR>
                                                            <TD align="middle" bgColor="#FFFFFF"> <span>
                                                
                                                              </span>
                                                                <TABLE cellSpacing="0" cellPadding="0" width="95%" align="center" border="0">
                                                                  <TBODY>
                                                                    <TR>
                                                                      <TD width="20%" height="18"><div align="right">籍贯：</div></TD>
                                                                      <TD width="80%" align="left"><span>{hometown}</span> </TD>
                                                                    </TR>
                                                                    <TR>
                                                                      <TD height="18"><div align="right">是否本公司员工：</div></TD>
                                                                      <TD align="left"><span>{hired}</span></TD>
                                                                    </TR>
                                                                    <TR>
                                                                      <TD height="18"><div align="right">资料审查状态：</div></TD>
                                                                      <TD align="left"><span>{checked}</span></TD>
                                                                    </TR>
                                                                    <TR>
                                                                      <TD height="18"><div align="right">认证状态：</div></TD>
                                                                      <TD align="left"><span>{qualified}</span></TD>
                                                                    </TR>
                                                                    <TR>
                                                                      <TD height="18"><div align="right">推荐：</div></TD>
                                                                      <TD align="left"><span>{recommended}</span></TD>
                                                                    </TR>
                                                                    <TR>
                                                                      <TD height="18"><div align="right">上门区域：</div></TD>
                                                                      <TD align="left"><span>{service_area}</span></TD>
                                                                    </TR>
                                                                  </TBODY>
                                                              </TABLE></TD>
                                                          </TR>

                                                          <TR>
                                                            <TD height="20" bgColor="#DEEBFF"><span>&gt;&gt;历史记录</span></TD>
                                                          </TR>
                                                          <TR>
                                                            <TD align="middle" bgColor="#FFFFFF"> <span>
                                                              </span>
                                                                <TABLE cellSpacing="0" cellPadding="0" width="95%" align="center" border="0">
                                                                  <TBODY>
                                                                    <TR>
                                                                      <TD width="14%"><div align="center">雇主</div></TD>
                                                                      <TD width="14%"><div align="center">雇员</div></TD>
                                                                      <TD width="12%"><div align="center">中介费</div></TD>
                                                                      <TD width="12%"><div align="center">工资</div></TD>
                                                                      <TD width="20%"><div align="center">备注</div></TD>
                                                                      <TD width="14%"><div align="center">开始时间</div></TD>
                                                                      <TD width="14%"><div align="center">结束时间</div></TD>
                                                                    </TR>
																	<!-- BEGIN CONTRACT_LIST -->
                                                                    <TR>
                                                                      <TD width="14%"><div align="center">{employer}</div></TD>
                                                                      <TD width="14%"><div align="center">{employee}</div></TD>
                                                                      <TD width="12%"><div align="center">{agent}</div></TD>
                                                                      <TD width="12%"><div align="center">{salary}</div></TD>
                                                                      <TD width="20%"><div align="center">{note}</div></TD>
                                                                      <TD width="14%"><div align="center">{start_time}</div></TD>
                                                                      <TD width="14%"><div align="center">{end_time}</div></TD>
                                                                    </TR>
																	<!-- END CONTRACT_LIST -->
                                                                  </TBODY>
                                                              </TABLE></TD>
                                                          </TR>
														
														</TBODY>
                                                    </TABLE></TD>
                                                  </TR>
                                                </TBODY>
                                              </TABLE>
                                          </TD>
                                        </TR>
                                      </TBODY>
                                    </TABLE></td>
                                </tr>
                              </table>
			  				  </td>
                            </tr>
                          </table></td>
                          <td width="200" valign="top"><table  border="0" align="center" cellpadding="10" cellspacing="0" bgcolor="#CCCCCC">
                            <tr bgcolor="#FFFFFF">
                              <td align="center" valign="middle">
                                                                {pic}
                                                              </td>
                            </tr>
                          </table>
                            <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#DEEBFF">
                              <tr>
                                <td></td>
                              </tr>
                            </table>                          <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#DEEBFF">
                            <tr>
                              <td></td>
                            </tr>
                          </table>
						  <table width="100%"  border="0" cellpadding="10" cellspacing="0" bgcolor="#CCCCCC">
                            <tr>
                              <td bgcolor="#FFFFFF"><form name="form2" method="post" action="admin.php?j=User&a=dohireemployee">
                                  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td colspan="2">聘请公司员工
                                        <div align="center"></div>
                                          <div align="center"></div></td></tr>
                                    <tr>
                                      <td><div align="center">聘请
                                              <input name="pass" type="radio" value="1" checked>
                                      </div></td>
                                      <td><div align="center">不聘请
                                              <input type="radio" name="pass" value="0">
                                      </div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><div align="center"><input type="hidden" name="id" value="{id}" />
                                          <input name="submit_pass" type="submit" id="submit_del3" value="提交">
                                      </div></td>
                                    </tr>
                                  </table>
                              </form></td>
                            </tr>
                          </table>
						  <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#DEEBFF">
                            <tr>
                              <td></td>
                            </tr>
                          </table>
						  <table width="100%"  border="0" cellpadding="10" cellspacing="0" bgcolor="#CCCCCC">
                            <tr>
                              <td bgcolor="#FFFFFF"><form name="form2" method="post" action="admin.php?j=User&a=docheckemployee">
                                  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td colspan="2">资料审查
                                        <div align="center"></div>
                                          <div align="center"></div></td></tr>
                                    <tr>
                                      <td><div align="center">通过
                                              <input name="pass" type="radio" value="1" checked>
                                      </div></td>
                                      <td><div align="center">拒绝
                                              <input type="radio" name="pass" value="0">
                                      </div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2">选择不通过的原因</td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><div align="center">
                                          <select name="reject_reason" id="reject_reason">
                                            <option value="没有填写真实姓名" selected>没有填写真实姓名</option>
                                            <option value="学历与身份不符合">学历与身份不符合</option>
                                            <option value="籍贯填写不正确">籍贯填写不正确</option>
                                            <option value="大学名称不对不对">大学名称填写不对</option>
                                            <option value="联系电话无效">联系电话无效</option>
                                            <option value="照片不符合要求">照片不符合要求</option>
                                            <option value="证件号码填写不对">证件号码填写不对</option>
                                            <option value="填写格式不规范">填写格式不规范</option>
                                                                                                                              </select>
                                      </div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><div align="center"><input type="hidden" name="id" value="{id}" />
                                          <input name="submit_pass" type="submit" id="submit_del3" value="提交">
                                      </div></td>
                                    </tr>
                                  </table>
                              </form></td>
                            </tr>
                          </table>
						  <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#DEEBFF">
                            <tr>
                              <td></td>
                            </tr>
                          </table>
						  <table width="100%"  border="0" cellpadding="10" cellspacing="0" bgcolor="#CCCCCC">
                            <tr>
                              <td bgcolor="#FFFFFF"><form name="form2" method="post" action="admin.php?j=User&a=doqualifyemployee">
                                  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td colspan="2">雇员认证
                                        <div align="center"></div>
                                          <div align="center"></div></td></tr>
                                    <tr>
                                      <td><div align="center">认证
                                              <input name="pass" type="radio" value="1" checked>
                                      </div></td>
                                      <td><div align="center">不认证
                                              <input type="radio" name="pass" value="0">
                                      </div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><div align="center"><input type="hidden" name="id" value="{id}" />
                                          <input name="submit_pass" type="submit" id="submit_del3" value="提交">
                                      </div></td>
                                    </tr>
                                  </table>
                              </form></td>
                            </tr>
                          </table>                          <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#DEEBFF">
                            <tr>
                              <td></td>
                            </tr>
                          </table>                          <table width="100%"  border="0" cellpadding="10" cellspacing="0" bgcolor="#CCCCCC">
                            <tr>
                              <td bgcolor="#FFFFFF"><form name="form2" method="post" action="admin.php?j=User&a=dorecommendemployee">
                                  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td colspan="2">推荐教员
                                        <div align="center"></div>
                                          <div align="center"></div></td></tr>
                                    <tr>
                                      <td><div align="center">推荐
                                              <input name="pass" type="radio" value="1" checked>
                                      </div></td>
                                      <td><div align="center">不推荐
                                              <input type="radio" name="pass" value="0">
                                      </div></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><div align="center"><input type="hidden" name="id" value="{id}" />
                                          <input name="submit_pass" type="submit" id="submit_del3" value="提交">
                                      </div></td>
                                    </tr>
                                  </table>
                              </form></td>
                            </tr>
                          </table>


						  <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#DEEBFF">
                            <tr>
                              <td></td>
                            </tr>
                          </table>
						  </td>
                        </tr>
                      </table>			
                     </td>
        </tr>
      </table>
      <table width="100%" height="5"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td></td>
        </tr>
      </table>
      <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr>
          <td></td>
        </tr>
      </table>
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr colspan="2" bgcolor="#DEEBFF">添加备注</tr>
	  <form method="POST" action="admin.php?j=User&a=donoteemployee">
	  <tr><td width="80%">
	    <input type="hidden" name="id" value={id}>
		<textarea name="note" rows="10" cols="100">{note}</textarea>
	  </td>
	  <td align="center"><input type="submit" value="提交" /></td>
	  </tr>
	  </form>
	  </table>
      <table width="100%" height="1"  border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
        <tr>
          <td></td>
        </tr>
      </table>
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
                      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td></td>
                        </tr>
                      </table>
                    </td>
        </tr>
      </table></td>
    <td width="10" valign="top" background="../image/bg4.gif">&nbsp;</td>
  </tr>
</table>
</body>
