<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="163" height="188" valign="top" bgcolor="#FFCCFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="27" bgcolor="#FFCCFF"><div align="center">【热门文章列表】</div></td>
      </tr>
    </table>
        <table width="100%" height="161" border="0" cellpadding="0" cellspacing="1">
          <tr>
            <td valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			<!-- BEGIN HOT_LIST -->
                <tr>
                  <td width="11%" height="19"><a href="article.php?id={hot_id}" title="{hot_title}">{hot_short}</a></td>
                </tr>
			<!-- END HOT_LIST -->
            </table></td>
          </tr>
    </table></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="27" colspan="3" bgcolor="#FFCCCC">&nbsp;&nbsp;&nbsp;你所在位置-<a href="articlecenter.php">文章中心</a>-文章列表</td>
      </tr>
      <tr>
        <td width="1%" height="auto">&nbsp;</td>
        <td width="98%" valign="top"><table width="100%" height="auto" border="0" cellpadding="0" cellspacing="1">
	    <!-- BEGIN ARTICLE_LIST -->
          <tr>
            <td height="17" bgcolor="#FFFFFF">
			<a href="article.php?id={id}" title="{title}">{short}</a>&nbsp;&nbsp;&nbsp;&nbsp;[{date}]
			</td>
          </tr>
		<!-- END ARTICLE_LIST -->
        </table></td>
        <td width="1%" valign="top" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td height="auto">&nbsp;</td>
        <td align="right" valign="top">{pagechar}</td>
        <td valign="top" bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
	  <tr align="right"><td colspan="3">&nbsp;</td>
	  </tr>
    </table></td>
  </tr>
</table>
