<script language="Javascript" src="js/check.js"/></script>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="188" valign="top" bgcolor="#FFCCCC"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="27" bgcolor="#FFCCCC">&nbsp;&nbsp;&nbsp;你所在位置-<a href="articlecenter.php">新闻中心</a>-<a href="article.php?id={id}">{title}</a></td>
      </tr>
      <tr>
        <td height="276" valign="top"><table width="100%" height="276" border="0" align="center" cellpadding="0" cellspacing="1">
          <tr>
            <td height="17" valign="bottom" bgcolor="#FFFFFF"><div align="center">评论列表</div></td>
          </tr>
          <tr>
            <td height="256" valign="top" bgcolor="#FFFFFF"><table width="100%">
              <tr>
                <td width="100%" height="140" valign="top">
				<table width="100%" border="0" cellspacing="0">
				<!-- BEGIN COMMENT_LIST -->
                  <tr bgcolor="#F9E4DD">
                    <td width="52%" nowrap><div style="margin-left:5px;">网友IP：{ip}</div></td>
                    <td width="48%" align="right"><div style="margin-right:5px;">发表时间：{time}</div></td>
                    </tr>
                  <tr height="auto">
                    <td height="16" colspan="3"><p style="border:1px solid pink; padding:5px;">{content}</p></td>
                    </tr>
                  <tr align="right" height="auto">
                    <td colspan="3">{pagechar}</td>
                    </tr>
				<!-- END COMMENT_LIST -->
                </table>
                  <table width="100%" height="130" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="center"><table width="99%" height="163"  
        border="0" cellpadding="0" cellspacing="1" bgcolor="#FFCCCC">
                      <tbody>
                        <tr align="center" valign="middle">
                          <td height="161" bgcolor="#ffffff"><div align="center">
                              <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#FFCCCC" 
            border="0">
                                <tbody>
                                  <tr>
                                    <td width="50%"><table cellspacing="0" cellpadding="0" width="100%" border="0">
                                        <tbody>
                                          <tr>
                                            <td><div align="left">&nbsp;&nbsp;&nbsp;发表评论</div></td>
                                          </tr>
                                        </tbody>
                                    </table></td>
                                    <td><table cellspacing="0" cellpadding="0" width="100%" border="0">
                                        <tbody>
                                          <tr>
                                            <td height="27"><div align="left"></div></td>
                                          </tr>
                                        </tbody>
                                    </table></td>
                                  </tr>
                                </tbody>
                              </table>
                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td align="left" valign="top" bgcolor="#ffffff"><form 
                  action="comment.php?id={id}" method="post" name="form1" id="form1">
                                        <table cellspacing="0" cellpadding="2" width="100%" 
                  bgcolor="#ffffff" border="0">
                                          <tbody>
                                            <tr>
                                              <td width="15%" valign="middle"><div align="right">
                                                  <div align="center">留言内容</div>
                                              </div></td>
                                              <td colspan="2"><div align="left">
                                                  <textarea id="content" name="content" rows="8" cols="45"></textarea>
                                                  <input type="hidden" name="action" value="post" />
                                                  <input type="hidden" name="aid" value="{id}" />
</div></td>
                                            </tr>
											<!-- IF VERIFY -->
                                            <tr valign="middle">
                                              <td align="center">输验证码</td>
                                              <td colspan="2" align="left" nowrap><IFRAME frameBorder="0" id="code_check" scrolling="no" name="code_check" src='showpicture.php' style='HEIGHT: 25px; VISIBILITY: inherit; WIDTH: 135px; Z-INDEX: 1'></IFRAME>
											  </td>
                                            </tr>
											<!-- ENDIF -->
                                            <tr>
                                              <td valign="top">&nbsp;</td>
                                              <td width="43%"><input id="com_sub" type="submit" value="提 交" name="submit" onclick="return {check}();" />
                                                  <div align="left"></div></td>
                                              <td width="42%"><input type="reset" value="重 置" name="reset" /></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                    </form></td>
                                  </tr>
                                </tbody>
                              </table>
                          </div></td>
                        </tr>
                      </tbody>
                    </table></td>
                  </tr>
                </table></td>
                </tr>
            </table>            </td>
          </tr>
        </table></td>
        </tr>
    </table></td>
  </tr>
</table>
