<div align="center">
  <table border="1" width="760" cellspacing="0" cellpadding="0" style="border-collapse: collapse" bordercolor="#E4E4E4">
    <tr>
      <td width="200" valign="top" bgcolor="#FFCCCC">　</td>
      <td><table cellspacing="0" cellpadding="0" width="550" border="0">
        <tr>
          <td  height="33"><table cellspacing="0" cellpadding="0" width="550" border="0">
            <tr>
              <td width="566"><table cellspacing="0" cellpadding="0" width="397" border="0">
                  <tr>
                    <td width="15">　</td>
                    <td width="382"><table cellspacing="0" cellpadding="0" width="504" border="0">
                        <tr>
                          <td width="116" background="template/jzweb/images/zhuce-0005.gif" style="font-size: 9pt"><img src="template/jzweb/images/8.gif" width="116" height="41" /></td>
                          <td width="12" background="template/jzweb/images/zhuce-0005.gif" style="font-size: 9pt">　</td>
                          <td width="129" background="template/jzweb/images/zhuce-0005.gif" style="font-size: 9pt"><img src="template/jzweb/images/7.gif" width="116" height="41" /></td>
                          <td width="129" background="template/jzweb/images/zhuce-0005.gif" style="font-size: 9pt"><img src="template/jzweb/images/6.gif" width="116" height="41" /></td>
                          <td width="118" align="right" background="template/jzweb/images/zhuce-0005.gif" style="font-size: 9pt"><img src="template/jzweb/images/5.gif" width="116" height="41" /></td>
                        </tr>
                        <tr>
                          <td colspan="5" style="font-size: 9pt">&nbsp;</td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td align="middle"><div id="pnlFirst">
            <table cellspacing="3" cellpadding="0" width="100%" border="0">
              <tr>
                <td height="30" colspan="2" align="middle" bgcolor="#FFCCCC"> <div align="left"><span>注册第三步：注册成功</span> </div></td>
              </tr>
              <tr bgcolor="#fffae8">
                <td height="25" colspan="2" bgcolor="#FFCCFF"><p align="center">恭喜您已注册成为会员</p>                    </td>
              </tr>
              <tr bgcolor="#fffae8">
                <td align="right" width="20%" height="25">1.</td>
                <td width="79%" align="left"><a href="membercenter.php">登陆会员管理中心</a></td>
              </tr>
              <tr bgcolor="#fffae8">
                <td align="right" width="20%" height="25"> 2.</td>
                <td width="79%" align="left"><a href="membercenter.php?j=Info&a=edit{type}">资料管理</a></td>
              </tr>
              <tr bgcolor="#fffae8">
                <td align="right" height="25">3.</td>
                <td align="left"><a href="membercenter.php?j=Info&a=editpass">修改密码</a></td>
              </tr>
              <tr>
                <td align="middle" bgcolor="#fff2cd" colspan="2" height="30">&nbsp;</td>
              </tr>
            </table>
          </div></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>
