* {
	margin:0px auto;
	padding:0px auto;
}

#loginForm {
	position:relative;
	left:50%;
	width:250px;
	border:1px solid #14a346;
	margin-top:150px;
	margin-left:-125px;
}

#loginTitle {
	font-size:12px;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#739ACE;
	text-align:left;
	color:white;
	font-weight:bold;
}
ul {
	margin-left:0;
}
li {
	padding-top:2px;
	list-style-type:none;
	text-align:center;
	font-size:12px;
}

.inputBox {
	font-family: Verdana, PMingLiU;
	background-color:transparent;
	border:0px;
	border-bottom:1px solid #14a346
}

.inputButton {
	width:48px;
	height:24px;
	background-color:#CED4E8;
}