BODY {
	BACKGROUND-COLOR: #ffffff; 
	COLOR: #000000; 
	line-height: 140%;
	font-family: Verdana, PMingLiU;
	FONT-SIZE: 11px;
	table-layout:fixed; 
	word-break:break-all;
}


TABLE	{font-family: Verdana, PMingLiU; FONT-SIZE: 11px; line-height: 140%;}
UL		{font-family: Verdana, PMingLiU; FONT-SIZE: 11px; line-height: 140%;}
LI		{font-family: Verdana, PMingLiU; FONT-SIZE: 11px; line-height: 140%;}
P		{font-family: Verdana, PMingLiU; FONT-SIZE: 11px; line-height: 140%;}
TD		{font-family: Verdana, PMingLiU; FONT-SIZE: 11px; line-height: 140%;}

A:LINK		{
	TEXT-DECORATION: none;
	color: #000000;
}
A:VISITED	{
	TEXT-DECORATION: none;
	color: #000000;
}
A:HOVER		{
	text-decoration: underline;
	color: #000000;
}
A:ACTIVE	{
	COLOR: #000000;
}

FORM {
	font-family: Verdana, PMingLiU;
	FONT-SIZE: 11px
}
SELECT{
	font-family: Verdana, PMingLiU;
	COLOR: #000000;
	FONT-SIZE: 11px;
	background-color: #FFFFFF;
	padding: 3px 2px 2px;
}
INPUT{
	font-family: Verdana, PMingLiU;
	COLOR: #000000;
	FONT-SIZE: 11px;
	background-color: #FFFFFF;
	padding: 3px 2px 2px;
	height: 20px;
	border: 1px solid #CCCCCC;
}
TEXTAREA{
	font-family: Verdana, PMingLiU;
	COLOR: #000000;
	FONT-SIZE: 11px;
	border-top: 1px inset;
	border-left: 1px inset;
	color: black;
	padding: 5px;
}
.radio{
	COLOR: red;
	background-color: transparent;
	padding: 0 auto;
	height: 16px;
	margin:0px 4px 0px 4px;
	border: 0px;
}
.minibutton {
	width: 60px;
	height: 20px;
	font-size:10px;
	padding-right: 3px;
	padding-left: 3px;
}
.button {
	width: 60px;
	height: 25px;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
}
#submitrow INPUT	{BACKGROUND-COLOR:#40364d; COLOR: #f5d300; FONT-WEIGHT: bold}
.onlyalt	{BACKGROUND-COLOR: #FFFFFF}
.tblhead	{BACKGROUND-COLOR: #DEEBFF; COLOR:#000000; FONT-SIZE:11px}
.tblborder	{border: 1px solid #5a7594}
.tdborder	{BACKGROUND-COLOR: #FFFFFF}

.space{
	PADDING-TOP: 4px; 
	PADDING-BOTTOM: 4px; 
	PADDING-LEFT: 5px; 
	MARGIN-TOP: 4px; 
	MARGIN-BOTTOM: 4px
	MARGIN-LEFT: 5px
}
.TRalt tr{
 background-color:expression("#DEEBFF,#FFFFFF".split(",")[rowIndex%2])
} 